{% assets "main_js" %}


<html>
	<head>
		<title>BH web app</title>
	</head><style>* {
  box-sizing: border-box;
}

.mainz {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  position: relative;
  display: block;
  width: 200px;
margin-right: 5%;
  height: 36px;
  border-radius: 18px;
  background-color: #1c89ff;
  border: solid 1px transparent;
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
  transition: all .1s ease-in-out;
  &:hover {
    background-color: transparent;
    border-color: #fff;
    transition: all .1s ease-in-out;
  }
  
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background: transparent; 
  margin: 30px auto 0 auto;
  border: solid 2px #424242;
  border-top: solid 2px #1c89ff;
  border-radius: 50%;
  opacity: 0;
}

.loader.active {
  animation: loading 3s ease-in-out infinite; 
  animation-fill-mode: forwards;
}

@keyframes loading {
  30% {
    opacity:1; 
  }
  
  85% {
    opacity:1;
    transform: rotate(1080deg);
    border-color: #262626;
  }
  90% {
    opacity:1;
    transform: rotate(1080deg);
     border-color: #262626;
  }
}



.dropshadowimg
    { width:600px;
    box-shadow: 5px 5px 5px #999;
text-align:center;
margin: auto; }

.dropshadowimg2
    { width:800px;
    box-shadow: 5px 5px 5px #999;
text-align:center;
margin: inherit }


*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-size: 62,5%;
}

.form__label {
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
  margin: 0 auto;
  padding: 10px;
  border-radius: 0rem;
  border: none;
  width: 40rem;
  display: block;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
  opacity: 0.75;
}

.form__input {
  font-family: 'Quicksand', sans-serif;
  color: #333;
  font-size: 18px;
  margin: 0 auto;
  padding: 1.5rem 2rem;
  border-radius: 0.3rem;
  background-color: rgb(211, 211, 211);
  opacity: 0.5;
  border: none;
  width: 60rem;
  display: block;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
}

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-4rem);
  transform: translateY(-4rem);
}





@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);


html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
    font-size: 10px;
	z-index: 10;
	max-width: 90%
	align-items: center;
}
/*-- Inspiration taken from abdo steif -->
/* --> https://codepen.io/abdosteif/pen/bRoyMb?editors=1100*/

/* Navbar section */

.nav {
    width: 100%;
    height: 65px;
    position: fixed;
    line-height: 65px;
    text-align: center;
	position: fixed;
		text-shadow: 0 0 7px black, 0 0 7px black, 0 0 7px black, 0 0 7px black;
	z-index:10;

}

.nav div.logo {
    float: left;
    width: auto;
    height: auto;
    padding-left: 3rem;
	z-index: 10;
	
}

.nav div.logo a {
    text-decoration: none;
    color: #fff;
    font-size: 2.5rem;
	z-index: 10;
	
}

.nav div.logo a:hover {
    color: #68F1FF;
	z-index: 10;;
}

.nav div.main_list {
    height: 65px;
    float: right;
	z-index: 10;
}

.nav div.main_list ul {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav div.main_list ul li {
    width: auto;
    height: 65px;
    padding: 0;
    padding-right: 3rem;
}

.nav div.main_list ul li a {
    text-decoration: none;
    color: #fff;
    line-height: 65px;
    font-size: 2.4rem;
}

.nav div.main_list ul li a:hover {
    color: #68F1FF;
}


/* Home section */

.home {
    width: 100%;
height: 20%;
background-image: url(https://images.unsplash.com/photo-1481026469463-66327c86e544?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1424&q=80);
background-position: center bottom;
	background-size:cover;

}

.navTrigger {
    display: none;
}

.nav {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}


/* Media qurey section */

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        margin: 0;
    }
}

@media screen and (max-width:768px) {
    .navTrigger {
        display: block;
    }
    .nav div.logo {
        margin-left: 15px;
    }
    .nav div.main_list {
        width: 100%;
        height: 0;
        overflow: hidden;
    }
    .nav div.show_list {
        height: auto;
        display: none;
    }
    .nav div.main_list ul {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: #989898;
        /*same background color of navbar*/
        background-position: center top;
    }
    .nav div.main_list ul li {
        width: 100%;
        text-align: right;
    }
    .nav div.main_list ul li a {
        text-align: center;
        width: 100%;
        font-size: 3rem;
        padding: 20px;
    }
    .nav div.media_button {
        display: block;
    }
}


/* Animation */
/* Inspiration taken from Dicson https://codemyui.com/simple-hamburger-menu-x-mark-animation/ */

.navTrigger {
    cursor: pointer;
    width: 30px;
    height: 25px;
    margin: auto;
    position: absolute;
    right: 30px;
    top: 0;
    bottom: 0;
}

.navTrigger i {
    background-color: #fff;
    border-radius: 2px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
}

.navTrigger i:nth-child(1) {
    -webkit-animation: outT 0.8s backwards;
    animation: outT 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
    margin: 5px 0;
    -webkit-animation: outM 0.8s backwards;
    animation: outM 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
    -webkit-animation: outBtm 0.8s backwards;
    animation: outBtm 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
    -webkit-animation: inT 0.8s forwards;
    animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
    -webkit-animation: inM 0.8s forwards;
    animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
    -webkit-animation: inBtm 0.8s forwards;
    animation: inBtm 0.8s forwards;
}

@-webkit-keyframes inM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes inM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes outM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes outM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes inT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes inT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes outT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes outT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes inBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes inBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

@-webkit-keyframes outBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes outBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

.affix {
    padding: 0;
    background-color: #111;
	background: rgba(0, 0, 0, 0.92);
}






.myH2 {
	text-align:center;
	font-size: 4rem;
	font-weight: 600;
}

.myHq {
	text-align:center;
	font-size: 3rem;
	font-weight: 600;
}


.myP {
	text-align: justify;
	padding-left:15%;
	padding-right:15%;
	font-size: 20px;
}
@media all and (max-width:700px){
	.myP {
		padding:2%;
	}
}


.myPq {
	text-align: justify;
	padding-left:15%;
	padding-right:15%;
	font-size: 20px;
}
@media all and (max-width:700px){
	.myPq {
		padding:2%;
	}
}




ul{
	list-style-image:url('/path/to/custom-bullet.png');
	font-size: 20px;
	text-align: justify;
	padding-left:15%;
	padding-right:15%;
}



ulz{
	list-style-image:url('/path/to/custom-bullet.png');
	font-size: 15px;
	text-indent: 50px;
	padding-right:50%;
}


.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


figcaption3 {
    color: black;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: right;
	font-size: 10px;
	max-width: 1200px;
}

figcaption4 {
    color: black;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
	font-size: 10px;
	max-width: 1200px;
}

figcaption5 {
    color: black;
    font: italic smaller sans-serif;
    padding: 10px;
    text-align: center;
margin-right: auto;
margin-left: auto;
	font-size: 14px;
	max-width: 1200px;
}


figure3 {
    display: flex;
    flex-flow: column;
    padding: 10px;
    margin: auto;
}

html {
  scroll-behavior: smooth;
}

.mySlides {display:none; margin: auto; padding: 0 0 50px 0}
.w3-left, .w3-right, .w3-badge {cursor:pointer ;color:black; padding: 0 10% 0 10%;}
.w3-badge {height:13px;width:13px;padding:0}

.mySlides2 {display:none; margin: auto; padding: 0 0 50px 0}
.w3-left2, .w3-right2, .w3-badge2 {cursor:pointer ;color:black; padding: 0 10% 0 10%;}
.w3-badge2 {height:13px;width:13px;padding:0}



a.anchor {
    display: block;
    position: relative;
    top: -100px;
    visibility: hidden;
}

.figureq {
    display: flex;
color: #333842;
}




</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
document.addEventListener('DOMContentLoaded', function () {
  var btn = document.querySelector('.button'),
      loader = document.querySelector('.loader'),
      check = document.querySelector('.check');
  
  btn.addEventListener('click', function () {
    loader.classList.add('active');    
  });
 
  loader.addEventListener('animationend', function() {
    check.classList.add('active'); 
  });
});

</script>
<script>
$(function() {

  // We can attach the `fileselect` event to all file inputs on the page
  $(document).on('change', ':file', function() {
    var input = $(this),
        numFiles = input.get(0).files ? input.get(0).files.length : 1,
        label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
    input.trigger('fileselect', [numFiles, label]);
  });

  // We can watch for our custom `fileselect` event like this
  $(document).ready( function() {
      $(':file').on('fileselect', function(event, numFiles, label) {

          var input = $(this).parents('.input-group').find(':text'),
              log = numFiles > 1 ? numFiles + ' files selected' : label;

          if( input.length ) {
              input.val(log);
          } else {
              if( log ) alert(log);
          }

      });
  });
  
});

</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/button_project2.css') }}">
		<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
		<nav class="nav" style="margin-top>
			<div class="container">
				<div class="logo">
					<a href="/cf_method">Home</a>
					<a style = "padding: 0 2.6rem 0 3rem">About</a>
				</div>
				<div id="mainListDiv" class="main_list">
					<ul class="navlinks">
						<li>
							<a>Counterfactuals</a>
						</li>
						<li>
							<a>|</a>
						</li>
						<li>
							<a href="/cf_method">App</a>
						</li>
					</ul>
				</div>
				<span class="navTrigger">
					<i></i>
					<i></i>
					<i></i>
				</span>
			</div>
		</nav>
		<section class="home"></section>
		<div style="height:">
			<br>
				<br>
					<br>
						<br>
							<br>
								<br>
									<h2 class="myH2" style = "text-align:center;font-size: 4rem; font-weight: 600;">Counterfactuals for Discovery and Design</h2>
									<h2 class="myH2" style = "text-align:center; font-size: 2.5rem;font-weight: 400;">by Bryan Eusebio</h2>
									<br>
										<br>
											<br>
												<div class="container" style="overflow-x: auto;">
													<div class="col-md-6">
														<div class="chart" id="plot_b">
															<script>
                    var graphs = {{plot_B | safe}};
                    Plotly.plot('plot_b',graphs,{});
                </script>
														</div>
													</div>
												</div>
												<form method="post" enctype="multipart/form-data" action="/cf_method_out">
													<div class="main">
														<div class="form__group" style = "text-align: center;">
															<input type="text" class="form__input" id="name" name = "textinput" placeholder="{'bandgap_orig':0.0, 'energy_vdw_per_atom_orig':-3.361, 'total_magnetization':0.248, 'exfoliation_energy_per_atom':0.234, 'is_gap_direct':'False', 'is_metal':'True', 'crystal_system':'trigonal', 'elements':'F-Ir'}" />
															<label for="name" class="form__label">Input requires JSON Syntax</label>
														</div>
														<div>
															<br>
																<br>
																	<input type="submit" class="button" value="Submit" style = "opacity: 0.8; text-align: center; font-family: Arial, Helvetica, sans-serif">
																		<!-- input submit -->
																	</div>
																	<div class="loader"></div>
																</div>
															</form>
															<div>
																<p class="myPq" style="padding: -500px 0 0">
The first row in the comparison table below is the initial query. 
The subsequent rows are the 3 counterfactual options that indicate which feature changes are needed in order for the material to be stable 
(decomposition energy < 0.1 EV/atom).

																</div>
															</p>
															<br>
																<br>
																	<div>
																		<h2 class="myH2" style = "font-family: Roboto; text-align:center; font-size: 3rem;">Additional Model Information</h2>
																		<br>
																			<p class="myPq" style="padding: -500px 0 0">
Below shows the training metrics for the classification model used in this application. 
</p>
																		</div>
																		<br>
																			<br>
																				<div class="container" style="overflow-x: auto;">
																					<div class="col-md-6">
																						<div class="chart" id="plot_c">
																							<script>
                    var graphs = {{plot_C | safe}};
                    Plotly.plot('plot_c',graphs,{});
                </script>
																						</div>
																					</div>
																				</div>
																				<div class="container">
																					<div class="col-md-6">
																						<div class="chart" id="bargraph">
																							<script>
                    var graphs = {{plot | safe}};
                    Plotly.plot('bargraph',graphs,{});
                </script>
																						</div>
																					</div>
																				</div>
																				<br>
																					<br>
																						<br>
																							<br>
																								<br>
																									<br>
																										<br>
																											<br>
																												<div class = "figureq">
																													<div style = "color:#333842; margin-right: auto;margin-left: auto;text-align: right; position: relative;font-size: 40px; opacity: 0.25; padding: 100px 0 0 0">
																														<a href="mailto: behardja@gmail.com">
																															<i class="ion-ios-email" style = "color:#333842"></i>
																														</a> &nbsp &nbsp 
	
																														<a href="https://www.linkedin.com/in/bryan-hardjadiparta" target="_blank">
																															<i class="ion-social-linkedin" target="_blank" style = "color:#333842"></i>
																														</a>
																													</div>
																												</div>
																												<!-- Function used to shrink nav bar removing paddings and adding black background -->
																												<link rel="stylesheet" href="{{ url_for('static', filename='css/coped.css') }}">
																													<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
																														<script>
        $(window).scroll(function() {
            if ($(document).scrollTop() > 50) {
                $('.nav').addClass('affix');
                console.log("OK");
            } else {
                $('.nav').removeClass('affix');
            }
        });
    </script>
																														<!-- Jquery needed link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" -->
																														<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
																														<script>
	$('.navTrigger').click(function () {
    $(this).toggleClass('active');
    console.log("Clicked menu");
    $("#mainListDiv").toggleClass("show_list");
    $("#mainListDiv").fadeIn();

});
</script>
																														<script>
$('form').submit(function (e) {
    var form = this;
    e.preventDefault();
    setTimeout(function () {
        form.submit();
    }, 4000); // in milliseconds
    
    $("
																															<p>Delay...</p>").appendTo("body");
});

																														</script>
																														<script>
(function(angular) {
  'use strict';
	angular.module('app', [])
	
  .controller('appCtrl', ['$scope', function($scope) {
		$scope.loader = {
			state:false
		}
  }])
  .directive('loader', function(){
    return {
      template: 
				`
																															<div class="showbox" ng-if="loader.state">
																																<div class="loader">
																																	<svg class="circular" viewBox="25 25 50 50">
																																		<circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
																																	</svg>
																																</div>
																															</div>`
    };
  });
})(window.angular);

																														</script>




{% endassets %}

																													</html>